body {
    font-family: "Noto Sans JP";
}
@media print {
    .md-sidebar--primary, .md-sidebar--secondary {
        display: none;
    }
    .md-content {
      margin-left: 0;
    }
}
.copy-button {
    background-color: #333; /* 背景色を黒に近いグレーに設定 */
    border: 1px solid #fff; /* 白のボーダーを追加 */
    border-radius: 4px; /* 角を少し丸くする */
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px; /* パディングを追加して、ボタンを少し大きくする */
    cursor: pointer;
    opacity: 0.7; /* 透明度を少し下げる */
    transition: opacity 0.3s ease; /* 透明度の遷移効果を追加 */
}

.copy-button:hover {
    opacity: 1; /* ホバー時に透明度を元に戻す */
}

.copy-button:before {
    content: '\f0c5';  /* FontAwesomeのコピーアイコン */
    font-family: FontAwesome;
    font-size: 12px;
    color: #fff; /* アイコンの色を白に設定 */
}
.md-typeset > ::before {
    font-family: "FontAwesome";
    margin-right: .3em;
    display: inline-block !important;
}

.md-typeset h1::before {
    content: "\f1b9 " !important;
}

.md-typeset h2::before {
    content: "\f108" !important;
}